.container {max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            border-style: inset;
            background-color: #e6e4df;}

@font-face {
  font-family: pirateFont;
  src: url(PirataOne-Regular.ttf);
}

h1 {text-align: center;
    font-family: "pirateFont"}

p {text-align: center;
    font-size: 24px;
    font-family: "pirateFont"}

img {margin-left: auto;
     margin-right: auto;
     display: block;
     margin-bottom: 5%;
}