.container {max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            border-style: inset;
            background-color: #e6e4df;}

h1 {text-align: center;}
p {text-align: center;}
img {margin-left: auto;
     margin-right: auto;
     display: block;
     margin-bottom: 5%;
}